.leaderBoardItem {
  border-radius: 8px;
  margin: 0.5em;
  background: #fff;
  color: #282829;
  padding: 1em;
  border-left: 0px solid #fff;
  width: 50vw;
  transition: border-left 100ms ease-in;
}
.leaderBoardItem:hover {
  border-left: 3px solid #f687b3;
}

.leaderBoardItem.highlight {
  border-left: 3px solid #ed64a6;
}

.points {
  color: #2d3f65;
  float: right;
}

@media (max-width: 800px) {
  .leaderBoardItem {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .leaderBoardItem {
    width: 90vw;
  }
}

.pages {
  font-size: 0.8em;
  color: #576584;
}
