.leaderboardItem {
  border-radius: 8px;
  margin: 0.5em;
  background: #c2cad5;
  color: #282829;
  padding: 1em;
  border-left: 3px solid #c2cad5;
  width: 50vw;
}

.highlight {
  border-left: 3px solid #3b5f80;
}

.points {
  color: #2d3f65;
  float: right;
}

@media (max-width: 600px) {
  .leaderboardItem {
    width: 80vw;
  }
}

.pages {
  font-size: 0.8em;
  color: #576584;
}
